EIO:CFG_1.0:6:1::
#
INDUSTRIAL_NETWORK:

      -Name "DeviceNet" -Label "DeviceNet Master/Slave Network" -Address "2"

      -Name "PROFINET" -Connection "PROFINET Network"\
      -Label "PROFINET Controller/Device Network" -StationName ""
#
DEVICENET_INTERNAL_DEVICE:

      -Name "DN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Internal Slave Device"
#
PROFINET_DRIVER:

      -Name "PROFINET_COMMON_DATA"
#
PROFINET_INTERNAL_DEVICE:

      -Name "PN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "PROFINET Internal Device"
